[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
matplotlib = "*"
qutip = "*"
imageio = "*"
pillow = "*"
pyrtlsdr = "*"
toddy = "*"
wheel = "*"
h5py = "*"
astropy = "*"
soundfile = "*"
pandas = "*"
requests = "*"
bs4 = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.9"
